/* Font settings */

$font-family-default: 'Libre Baskerville', serif;

$font-size-default: 17px;
$font-line-height-default: 26px;

$font-size-small: 13px;
$font-line-height-small: 20px;

$font-size-big: 20px;
$font-line-height-big: 30px;

$font-size-ultra: 37px;
$font-line-height-ultra: 46px;