<form class="calculator resp-table">
  <div class="tr">
    <div class="td brutto">
      <input autofocus="true"
        class="input" 
        autocomplete="off"
        type="text" 
        name="brutto" 
        value="{{brutto}}"
        placeholder="Ihr Brutto Monatsgehalt">
    </div>
    <div class="td submit">
      <input class="button" 
        type="submit" 
        name="calc" 
        value="Berechnen">
    </div>
  </div>
<form>