<div class="app-footer">
  <nav class="wrap">
    <a target="_blank" class="anchor" href="http://slemgrim.com">&copy; Slemgrim 2015</a>
    <a class="anchor pull-right" href="/impressum">Impressum</a>
  </nav>
</div>

