<header class="app-header fixed-header">
  <div class="wrap {{#if noCalc}}small{{/if}}">
    <h1 class="headline">Wieviel sparen Sie durch die neue Steuerreform?</h1>
    {{#unless noCalc}}
      {{> calculator this}}
    {{/unless}}
  </div>
</header>  