<header class="app-header fixed-header">
  <div class="wrap {{#if noCalc}}small{{/if}}">
    <h1 class="headline">Wieviel sparen sie durch die neue Steuerreform?</h1>
    {{#unless noCalc}}
      {{> calculator calculator}}
    {{/unless}}
  </div>
</header>  