
{{> result this}}
<section class="section wrap">
  <h1>Bei einem montatlichen Gehalt von {{moneyFormat brutto}} sparen Sie ab 2016 jährlich ca. {{moneyFormat diff}}
  </h1>
  <p>
    Die Österreichische Regierung hat am 17.03.2015 im Zuge des Beschlusses der Steuerreform die Inhalte der neuen Steuerreform festgelegt. Zentrales Element ist die Senkung der Lohnsteuer, weitere Entlastungen gibt es beim Verkehrsabsetzbetrag, der Pendlerpauschale und dem Kinderfreibetrag. Die Reform tritt Anfang 2016 in Kraft.
  </p>

  <p>
    <a href="/">Hier finden sie mehr Infos über die Steuerreform 2015</a>
  </p>
</section>

{{> content-ad}}

{{> more-table more}}