.min-tablet {
  display: none;

  @media (max-width: $breakpoint-md) {
    display: inline-block;
  }
}

.max-tablet {
  display: inline-block;

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}