<form class="calculator resp-table">
  <div class="tr">
    <div class="td brutto">
      <input autofocus="true"
        class="input" 
        autocomplete="off"
        type="text" 
        name="brutto" 
        placeholder="{{placeholder}}">
    </div>
    <div class="td submit">
      <input class="button" 
        type="submit" 
        name="calc" 
        value="{{calculate}}">
    </div>
  </div>
<form>