<section class="wrap section">
<h2>Oh Wow</h2>
<p>
Banken alarmiert
Über die genaue Ausgestaltung herrschte zunächst Unklarheit. Laut SPÖ sollen nur Unternehmen unter die Lupe genommen werden. Für Privatpersonen gelte das Bankgeheimnis weiterhin. Später bestätigte auch das Finanzministerium diese Interpretation.
</p>
<h2>Oh such title</h2>
<p>
Die Banken sind jedenfalls bereits alarmiert: Der langjährige ÖVP-Abgeordnete und Chef des Sparkassenverbands, Michael Ikrath, sieht einen "eklatanten Wortbruch der Regierung". Stets habe man versprochen, am Bankgeheimnis für Inländer ändere sich nichts. "Deswegen bin ich fassungslos über diese Ankündigung." Ikrath im Gespräch mit dem STANDARD: "Wollen wir wirklich die monetären Schlafzimmer unserer Bürger für die behördlichen Voyeure öffnen, sodass diese beliebig ein und aus gehen können?" Der Banker erwartet nun Widerstand im ÖVP-Klub.
</p>

</section>

