<section class="section result wrap">
  <div class="resp-table">
    <div class="tr">
      <div class="td">
        <table class="result-table">
          <tr>
            <th></th>
            <th>J채hrlich 2015</th>
          </tr>

          <tr>
            <th class="title">Brutto</th>
            <td class="data-brutto-2015"></td>
          </tr>

          <tr>
            <th class="title">Lohnsteuer</th>
            <td class="data-tax-2015"></td>
          </tr>
        </table>
      </div>
      <div class="td right">
        <table class="result-table">
          <tr>
            <th class="min-tablet"></th>
            <th>J채hrlich 2016</th>
          </tr>

          <tr>
            <th class="title min-tablet">Brutto</th>
            <td class="data-brutto-2016"></td>
          </tr>

          <tr>
            <th class="title min-tablet">Lohnsteuer</th>
            <td class="data-tax-2016"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="resp-table result-message">
    <div class="tr">
      <div class="td">In 2016 sparen Sie j채hrlich</div>
      <div class="td right data-diff"></div>
    </div>
  </div>

  <span class="meta">
    Berechnungsgrundlage gesch채tzt aufgrund von 12-fachem Monatsgehalt exklusive Sozialversicherungskosten
  </span>
</section>

