<section class="section result wrap">
  <table class="result-table table">
    <tr>
      <th>Jahresbezug</th>
      <th>2015</th>
      <th>ab 2016</th>
    </tr>

    <tr>
      <td>Brutto</td>
      <td class="data-brutto-2015"></td>
      <td class="data-brutto-2016"></td>
    </tr>

    <tr>
      <td>Lohnsteuer</td>
      <td class="data-tax-2015"></td>
      <td class="data-tax-2016"></td>
    </tr>
  </table>

  <table class="result-message table">
    <tr>
      <td>Sie sparen sich</td>
      <td  class="data-diff"></td>
    </tr>
  </table>
</section>

