.app-header {
  background-color: $color-primary;
  color: $color-primary-text;
  margin: 0;
  padding: 16px 40px 26px;

  .headline {
    font-size: 35px;
    line-height: 41px;
    font-weight: 100;
    text-align: center;
    margin: 32px 0;
  }

  .calculator {
    margin: 32px 0;
  }
}

@media (max-width: $breakpoint-md) {
  .app-header {
    padding: 20px 20px 24px;

    .headline {
      margin: 0;
      font-size: 25px;
      line-height: 32px;
    }
 
    .calculator {
      margin: 24px 0 0;
    }
  }
}